name: Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: write

jobs:
  build:
    name: Build Workspace on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        # os: [ubuntu-latest]
      fail-fast: false

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Rust linker for Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          echo "RUSTFLAGS=-C linker=gcc" >> $GITHUB_ENV

      - name: Install cargo-tarpaulin
        run: cargo install cargo-tarpaulin --force

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      # Linux-specific build tools
      - name: Install build essentials (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install -y build-essential pkg-config libssl-dev python3-dev libpam0g-dev libffi-dev libc6-dev llvm clang lld python3.12 python3.12-dev

      - name: Prepare PyO3 env
        run: |
          echo "PYO3_CONFIG_FILE=$(pwd)/pyo3.cfg" >> $GITHUB_ENV
          echo "version=3.12" > pyo3.cfg

      - name: Fix Linker on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          export LD_LIBRARY_PATH=$(python3.12-config --prefix)/lib:$LD_LIBRARY_PATH
          export PYTHON_SYS_EXECUTABLE=$(which python3.12)

      - name: Run tests with coverage Windows
        if: matrix.os != 'ubuntu-latest'
        run: |
          cargo tarpaulin --out Lcov -p Authenticator --output-dir tarpaulin-report
          mv tarpaulin-report/lcov.info tarpaulin-report/Authenticator.info
          cargo tarpaulin --out Lcov -p Authenticator_cli --output-dir tarpaulin-report
          mv tarpaulin-report/lcov.info tarpaulin-report/Authenticator_cli.info
          cargo tarpaulin --out Lcov -p pypam_ttysshca --output-dir tarpaulin-report
          mv tarpaulin-report/lcov.info tarpaulin-report/pypam-ttysshca.info

      - name: Run tests with coverage Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          cargo tarpaulin --engine llvm --out Lcov -p Authenticator --output-dir tarpaulin-report
          mv tarpaulin-report/lcov.info tarpaulin-report/Authenticator.info
          cargo tarpaulin --engine llvm --out Lcov -p Authenticator_cli --output-dir tarpaulin-report
          mv tarpaulin-report/lcov.info tarpaulin-report/Authenticator_cli.info
          cargo tarpaulin --engine llvm --out Lcov -p pam-ttysshca --output-dir tarpaulin-report
          mv tarpaulin-report/lcov.info tarpaulin-report/pam-ttysshca.info

        # cargo tarpaulin --out Lcov -p pypam_ttysshca --output-dir tarpaulin-report --engine llvm # broken on linux atm  --engine llvm

      - name: Upload lcov coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.os }}
          path: tarpaulin-report/


  merge_coverage:
    name: Merge Coverage Reports
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install LCOV
        run: sudo apt-get update && sudo apt-get install -y lcov

      - name: Download all coverage artifacts
        if: ${{! env.ACT }}
        uses: actions/download-artifact@v5
        with:
          pattern: "coverage-*"
          merge-multiple: false
          path: coverage

      - name: Download all coverage artifacts (act)
        if: ${{ env.ACT }}
        run: |
          find ./artifacts -name "*.zip" -exec sh -c '
            for zip; do
            folder="./coverage/$(basename "$zip" .zip)"
            mkdir -p "$folder"
            unzip -o "$zip" -d "$folder"
            done
          ' sh  {} +

      - name: Merge lcov files
        run: |
          find coverage -name "*.info" -exec cat "{}" + > cat_merged.lcov
          lcov -a cat_merged.lcov -o merged.lcov
          mkdir -p merged-coverage
          genhtml merged.lcov -o merged-coverage/html --substitute "D:\\\\\\\\a\\\\\\\\=/home/runner/work/"
          zip -r coverage-html.zip merged-coverage/html

      - uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: coverage-html.zip

      - name: Upload to codecov.io
        if: ${{! env.ACT }}
        uses: codecov/codecov-action@v2
        with:
          # token: ${{secrets.CODECOV_TOKEN}} # not required for public repos
          fail_ci_if_error: true

      - name: Deploy coverage to GitHub Pages
        if: ${{! env.ACT }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./merged-coverage/html

      #- name: Save coverage (act)
      #  if: ${{ env.ACT }}
      #  run: |
      #    mkdir -p /tmp/artifacts/coverage
      #    cp -r coverage/* /tmp/artifacts/coverage/