name: Test PAM Module

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build Workspace
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]
      fail-fast: false

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential pkg-config libssl-dev python3-dev libpam0g-dev libffi-dev libc6-dev llvm clang lld

      - name: Build PAM module and tester
        run: |
          cargo build --release -p pam-ttysshca -p pamtester

      - name: Configure test PAM service and copy files
        run: |
          PAM_LIBDIR="$(pkg-config --variable=libdir pam)/security"
          sudo install -Dm755 target/release/libpam_ttysshca.so "$PAM_LIBDIR/pam_ttysshca.so"
          sudo install -Dm655 ./tests/CAs/ca1.pub /etc/pam.d/ca1.pub
          sudo tee /etc/pam.d/testauth > /dev/null <<'EOF'
          auth    required pam_ttysshca.so ca=/etc/pam.d/ca1.pub
          account required pam_permit.so
          EOF
      - name: Run PAM tests
        run: |
          ./target/release/pamtester
