name: Test PAM Module

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build Workspace on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
      fail-fast: false
    container:
      image: ${{ matrix.arch == 'x86_64' && 'ubuntu:24.04' || 'arm64v8/ubuntu:24.04' }}
      options: --privileged

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y build-essential libpam0g-dev passwd

      - name: Build PAM module and tester
        run: |
          cargo build --release -p pam -p pamtester

      - name: Configure test PAM service and copy files
        run: |
          cp ./target/release/libpypam_ttysshca.so /usr/lib/security/pam_ttysshca.so
          cp ./tests/CAs/ca1.pub /etc/pam.d/ca1.pub
          cat > /etc/pam.d/testauth <<EOF
          auth       required   pam_ttysshca.so ca=/etc/pam.d/ca1.pub
          account    required   pam_permit.so
          EOF

      - name: Run PAM tests
        run: |
          ./target/release/pamtester
